<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw m-r-sm"></i>My Score</a>
            </li>
            <li ui-sref-active="{ active: 'app.data' }">
                <a href="#"><i class="fa fa-wrench fa-fw m-r-sm"></i>My Data<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref-active="active" ui-sref="app.data.accounts"><i class="m-r-sm"></i>Accounts</a>
                    </li>
                    <li>
                        <a href="buttons.html"><i class="m-r-sm"></i>County Court Judgements</a>
                    </li>
                    <li>
                        <a href="notifications.html"><i class="m-r-sm"></i>Addresses</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw m-r-sm"></i>Scoring Engine<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Variables</a>
                    </li>
                    <li>
                        <a href="#">Scoring Rules</a>
                    </li>
                    <li>
                        <a href="#">Loan Application Rules</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->