<div class="modal-content-container">
    <div class="modal-header">
        <h3 class="modal-title">Edit Record</h3>
    </div>

    <div class="modal-body">
        <form novalidate>
            <div class="form-group">
                <label for="record-title">Title:</label>
                <input ng-model="record.title"
                       placeholder="Title"
                       id="record-title"
                       type="text"
                       class="form-control">
            </div>

            <div class="form-group">
                <label for="record-body">Body:</label>
                <textarea
                       ng-model="record.body"
                       placeholder="Body"
                       id="record-body"
                       class="form-control"
                       rows="5">
                </textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submitRecord(record)">Save</button>
        <button class="btn btn-default pull-left" type="button" ng-click="closeModal()">Cancel</button>
    </div>
</div>
