// Imports for the Example Module

@import "sidebar";

table thead th {
  background:#f3f3f3;
}

.label.label-info {
  background:#337ab7;
}

.engine-variables {

  table tr td i {
    color: #337ab7;
  }

  .label.label-info {
    font-size:1em;
  }
}

h1.variable-value {
  background-color: #337ab7;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100px;
  padding-top: 10px;
  color: white;
}

.score-factors {

  h4 {
    margin-top:20px;
  }

  ul {

    padding:0;

    li {
      list-style-type: none;
      background:#f3f3f3;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      margin:10px 0 10px 0;
      padding:10px 10px 10px 50px;
      position:relative;
      width:100%;

      i {
        position:absolute;
        top:5px;
        left:5px;
        font-size:2.2em;
        margin:0 25px 0 0 ;
      }

      i.fa-minus-circle {
        color:#d9534f;
      }

      i.fa-plus-circle {
        color:#93d001;
      }
    }
  }
}
.score-gauge {

  width: 400px;
  height: 223px;
  position: relative;
  margin-left:-30px;

  svg {
    top: -85px;
    height: 300px !important;
  }
}

.score-description p {
  padding:4px 10px 4px 10px;
  text-align: justify;
}

.data-account-listings {

  .panel-title {

    p.account-type {
      color:#666;
      font-size:1em;
      margin-bottom:20px;
    }

    div.account-info {

      font-size:0.8em;

      strong {
        color:#337ab7;
        margin-right:20px;
      }
    }
    overflow:auto;

    a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
    }
  }
}
