// Imports for the Example Module

@import "sidebar";

.score-gauge {

  width: 400px;
  height: 223px;
  position: relative;
  margin-left:-30px;

  svg {
    top: -35px;
    height: 225px !important;
  }
}

.score-description p {
  padding:4px 10px 4px 10px;
  text-align: justify;
}

.data-account-listings {

  .panel-title {

    p.account-type {
      color:#666;
      font-size:1em;
      margin-bottom:20px;
    }

    div.account-info {

      font-size:0.8em;

      strong {
        color:#337ab7;
        margin-right:20px;
      }
    }
    overflow:auto;

    a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
    }
  }
}
