<div class="data-account-listings">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Accounts</h1>
        </div>
    </div>

    <button class="btn btn-primary" ng-click="addNewAccount()">
        <i class="fa fa-plus"></i>
        Create Account
    </button>

    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group ng-repeat="account in accounts" class="m-t-md">
            <uib-accordion-heading>

                <div class="col-md-12">
                    <h4>{{ account.title }}</h4>
                    <p class="account-type">
                        <span ng-if="account.type == 'current'">Current Account</span>
                        <span ng-if="account.type == 'credit'">Credit Card</span>
                        <span ng-if="account.type == 'loan'">Loan</span>
                        <span ng-if="account.type == 'hp'">Hire Purchase</span>
                        <span ng-if="account.type == 'telecoms'">Telecoms Account</span>
                    </p>
                    <div class="row">
                        <div class="col-md-2 account-info">
                            <p>
                                <strong>Status</strong>
                                <span ng-if="account.dateClosed == null && account.dateDefaulted == null">Open</span></p>
                                <span ng-if="account.dateClosed !== null && account.dateDefaulted == null">Closed</span></p>
                                <span ng-if="account.dateDefaulted !== null">Closed</span></p>
                        </div>
                        <div class="col-md-4 account-info">
                            <p><strong>Opened Date</strong>{{ account.dateOpened | amDateFormat:'MMMM Do YYYY' }}</p>
                        </div>
                    </div>
                </div>

            </uib-accordion-heading>

            <account account="account"></account>
        </uib-accordion-group>
    </uib-accordion>

</div>
