<div class="data-account-listings">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Score</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-5">

            <div class="row">
                <score-gauge config="scoreConfig" score="score"></score-gauge>
            </div>

            <score-description config="scoreConfig" score="score"></score-description>
        </div>

        <div class="col-md-7 score-factors">
            <h4>Positive factors</h4>
            <ul>
                <li>
                    <i class="fa fa-plus-circle"></i>
                    The number of accounts you are using indicates a lower risk
                </li>
                <li>
                    <i class="fa fa-plus-circle"></i>
                    Your credit utilisation percentage is low
                </li>
                <li>
                    <i class="fa fa-plus-circle"></i>
                    You have no defaults or CCJs
                </li>
                <li>
                    <i class="fa fa-plus-circle"></i>
                    You are on the electoral roll
                </li>
            </ul>

            <h4>Negative factors</h4>
            <ul>
                <li>
                    <i class="fa fa-minus-circle"></i>
                    You have missed payments in the last 6 months
                </li>
            </ul>
        </div>

    </div>


</div>
