<div class="data-account-listings">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Score</h1>
        </div>
    </div>

    <div class="row">
        <score-gauge score="score"></score-gauge>
    </div>

    <div class="row score-description">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                       <p>Your credit score indicates a higher risk and you may
                           find it difficult to get accepted for credit and may often
                           be offered higher than advertised interest rates.</p>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">This is a <strong>poor</strong> score</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
